// app global css in SCSS form

// 约束图片，避免溢出
img{
  max-width: 100%;
}
@page {
  size: A4;
  margin: 0;
}
.print-hide{
  @media print {
    display: none;
  }
}
@media print {
  html, body {
    width: 210mm;
    height: 297mm;
  }
  .a4 {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
  }

  .q-layout{
    background: white!important;
  }
  .q-page-container{
    padding: 0!important;
  }
}

.a4-container{
  max-width: 21cm;
  margin: auto;
}

.a4 {
  max-width: 21cm;
  min-height: 29.7cm;
  padding: 2cm;
  border-radius: 5px;
  background: white;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
  margin: 8mm auto;
  @media (max-width: $breakpoint-sm) {
    margin: 0 auto;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
  }
}
